.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.chosen-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  border: 1px solid #aaa;
  display: none;
}

.chosen-container.chosen-with-drop .chosen-drop {
  display: block;
}

.chosen-container a {
  cursor: pointer;
}

.chosen-container-single .chosen-single {
  display: block;
  padding: 0 0 0 8px;
  height: 50px;
  border: 1px solid #aaa;
  color: #444;
  line-height: 24px;
}

.chosen-container-single .chosen-single input[type="text"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/chosen-sprite.png") no-repeat 0 2px;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  border-radius: 0;
}

.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.highlighted {
  background: #777777 linear-gradient(#6eac99 20%, #6eac99 90%);
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}