.input-data-form {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.input-data-form h1 {
    margin: -20px -20px 21px;
    line-height: calc(40px + 0.5vw);
    font-size: calc(15px + 0.5vw);
    font-weight: bold;
    color: #5C5C5C;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #CFCFCF;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.input-data-form h2 {
    font-size: calc(15px + 0.5vw);
    color: #5C5C5C;
    text-align: center;
}

.input-data-form label {
    font-size: calc(10px + 0.5vw);
}

.input-data-form p {
    margin: 20px 0 0;
}
.input-data-form p:first-child {
    margin-top: 0;
}
.input-data-form input {
    width: 278px;
}

.input-data-form-help {
    font-size: calc(12px + 0.3vw);
    color: black;
    text-shadow: 0 1px #2A85A1;
    text-align: center;
}

.input-data-form-help a {
    color: gray();
    text-decoration: none;
}

.input-data-form-help a:hover {
    text-decoration: underline;
}

.input-requirements {
    font-size: calc(10px + 0.2vw);
    text-align: left;
    list-style: none;
    color: rgb(150,150,150);
}


.input-requirements li.invalid {
    color: #e74c3c;
}
.input-requirements li.valid {
    color: #2ecc71;
}

input[type="submit"],
input[type="reset"] {
    box-sizing: border-box;
    color: #fff;
    background-color: #3C3C3C;
    height: calc(30px + 1vw);
    width: 100%;
    border: 2px solid #686868;
    font-family: Raleway, sans-serif;
    font-size:calc(12px + 0.5vw);
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    background: #1C1C1C;
}

input[type="submit"]:active,
input[type="reset"]:active {
    background: #1AAEB9;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"] {
    font-family: 'Raleway', sans-serif;
    font-size: calc(12px + 0.3vw);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: white;
    border: 1px solid lightgrey;
    padding-left: 3%;
    color: #555;
    height: calc(2.5vw + 2.5vh);
    min-height: 30px;
}

input:not([type="submit"], [type="reset"]):focus {
    box-shadow: 0 0 5px #1AAEB9;
    border: 1px solid #AABCFE;
}

input:not(:focus),
select:not(:focus),
input[type="text"]:not(:focus),
input[type="password"]:not(:focus),
input[type="email"]:not(:focus),
input[type="date"]:not(:focus),
input[type="number"]:not(:focus) {
    box-shadow: none;
}

input:invalid,
select:invalid,
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="date"]:invalid,
input[type="number"]:invalid {
    padding-left: 3%;
    border: 1px solid #e74c3c;
    min-height: 30px;
}

input:not([type="submit"]):valid {
    border-color: #2ecc71;
}

input:not([type="submit"]) + .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}

.only-mobile {
        display: none;
    }

@media only screen 
    and (min-width: 700px) 
    and (max-width: 1100px) 
    and (orientation: landscape){
    .only-mobile {
        display: none;
    }
    
    .input-data-form h2 {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 700px)
    and (orientation: landscape){
    
    .input-data-form h2 {
        font-size: calc(1.3vw + 1.3vh);
    }
    
    .sidebar-index .input-data-form-help {
        display: block;
        padding-bottom: 1%;
    }

    .only-mobile {
        display: block;
    }
}

@media only screen and (orientation: portrait) {
    
    .input-data-form h2 {
        font-size: calc(1.3vw + 1.3vh);
    }
    
    .sidebar-index .input-data-form-help {
        display: block;
        padding-bottom: 1%;
    }

    .only-mobile {
        display: block;
    }
}