body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  line-height:1.5;
  padding: 0;
  background-image: url(../images/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  position:relative;
  min-height:100%;
}

#sidebar {
  float: right;
  width: calc(20vw + 20vh);
  padding: 0;
  margin: 10px 10px 20px 5px;
}

#error {
  display: flex;
  align-items: center;
  font-size: calc(8vw + 8vh);
  justify-content: center
}

.footer {
  position: absolute;
  background: #3C3C3C;
  bottom: 0;
  width: 100%;
  height: 25px;
  color: lightgray;
}