.table-container {
    text-align: center;
    margin: auto 10px;
    width: 70vw;
}

.full-table-container {
    text-align: center;
}

.table-container-home {
    text-align: center;
    margin: auto 10px;
    width: 70vw;
    display: block;
}

table {
    margin: 0 auto;
    width: 70vw;
}

.full-table-container table{
    margin: 0 auto;
    width: 95vw;
    padding-bottom: 5px;
}

.full-table-container .pagination2 {
    padding: 0;
}

tr.approved td{
    background: rgba(46, 204, 113, 0.7);
}
tr.denied td{
    background: rgba(231, 76, 60, 0.7);
}

tr.approved:hover{
    background: #2ecc71;
}
tr.denied:hover{
    background: #e74c3c;
}

th {
    font-weight: normal;
    background: #7a7a7a;
    border-top: 4px solid #a9a9a9;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px;
    font-family: "Raleway",sans-serif;
    font-size: calc(10px + 0.5vw);
}
td {
    background: rgba(163, 183, 191, 0.7);
    border-bottom: 1px solid #fff;
    color: #000;
    border-top: 1px solid transparent;
    padding: 8px;
    text-align: center;
    font-size: calc(10px + 0.5vw);
}

td input[type="submit"]{
    font-size: calc(10px + 0.5vw);
}

td .block input[type="submit"]{
    border: none;
    background-color: #a73434;
}

td .block input[type=submit]:hover{
    background-color: #571313;
    cursor: pointer;
}

td .unlock input[type="submit"]{
    border: none;
    background-color: #34a750;
}

td .unlock input[type=submit]:hover{
    background-color: #237838;
    cursor: pointer;
}

td select{
    border: none;
    cursor: pointer;
}

td a {
    text-decoration: none;
    color: #34a750;
    font-size: 30px;
}

td a p {
    color: black;
    font-size: 30px;
}

tr:hover td {background: rgba(203, 203, 203, 0.7);}

@media only screen
and (min-width: 700px)
and (max-width: 1100px)
and (orientation: landscape) {

    .table-container-home {
        display: block;
        width: 95vw;
    }

    table {
        width: 95vw;
    }
}

@media only screen and (orientation: portrait) {
    th {
        display: none;
    }

    tr {
        margin-bottom: 10px;
        display: block;
    }

    td {
        display: block;
        text-align: right;
        border-bottom: 1px dotted #ccc;
    }

    td:last-child {
        border-bottom: 0;
    }

    td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    table, .table-container {
        width: 96%;
    }
}

@media only screen and (max-width: 700px)
and (orientation: landscape){
    th {
        display: none;
    }

    tr {
        margin-bottom: 10px;
        display: block;
    }

    td {
        display: block;
        text-align: right;
        border-bottom: 1px dotted #ccc;
    }

    td:last-child {
        border-bottom: 0;
    }

    td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    table, .table-container {
        width: 96%;
    }
}