.table-container {
    /*! padding: 16px; */
    text-align: center;
    margin: auto 10px;
}

table {
    margin: 0 auto;
}

th {
    /*! font-size: 13px; */
    font-weight: normal;
    background: #7a7a7a;
    border-top: 4px solid #a9a9a9;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px;
    font-family: "Raleway",sans-serif;
}
td {
    background: rgba(163, 183, 191, 0.7);
    border-bottom: 1px solid #fff;
    color: #000;
    border-top: 1px solid transparent;
    padding: 8px;
    text-align: center;
}

td .block input[type="submit"]{
    border: none;
    background-color: #a73434;
}

td .block input[type=submit]:hover{
    background-color: #571313;
    cursor: pointer;
}

td .unlock input[type="submit"]{
    border: none;
    background-color: #34a750;
}

td .unlock input[type=submit]:hover{
    background-color: #237838;
    cursor: pointer;
}

td select{
    border: none;
    cursor: pointer;
}

td a {
    text-decoration: none;
    color: #34a750;
    font-size: 30px;
}

td a p {
    color: black;
    font-size: 30px;
}

tr:hover td {background: rgba(203, 203, 203, 0.7);}