#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#1c1c1c;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#fff;
    font-size:12px;
}